body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 20px 50px;
    background-color: #ebb678;
    height: 100vh;
}

.index {
    display: grid;
    background-color: #1874a5;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "link header header"
        "categories stats stats"
        "categories question question"
        "catagories buttons  buttons";
    justify-items: center;
}

header {
    grid-area: header;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

main {
    grid-area: question;
    color: rgb(31, 32, 32);
    text-align: center;
    margin: 50px 40px;

}

#main-section{
    background-color: #e07b39;
}

section p {
    text-align: center;
}

#buttons-div {
    grid-area: buttons;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#i-know-this {
    margin: 5px;
    padding: 10px 30px;
}

#next-question-btn {
    margin: 5px;
    padding: 10px 30px;
}

#show-answer-btn {
    margin: 5px;
    padding: 10px 30px;
}



#reset-space {
    margin: 5px;
    padding: 10px 30px;
}

#categories {
    grid-area: categories;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
    background-color: #44bcd8;
}

#question {
    margin: 10px;
}

#hidden {
    display: none;
}

#more-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#known-counter {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #e07b39;
    grid-area: stats;
}

#know-list-link {
    grid-area: link;
}

.reset{
    display: grid;
    grid-template-columns: 1fr;
    background-color:rgb(255, 157, 0);
}

#reset-header{
    background-color: rgb(218, 75, 142);
}

.reset button {
    background-color:rgb(104, 104, 130);
}
