body {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: #ebb678;
}

button {
    background-color: #e3612f;
    margin: 20px;
    padding: 15px;
    border: 3px solid lightblue;
    border-radius: 20%;
}

.index {
    display: grid;
    background-color: #1874a5;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        "header header header"
        "categories question blank"
        "categories question blank";
    justify-content: space-between;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

header h1 {
    text-align: center;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: question;
    color: rgb(31, 32, 32);
    text-align: center;
    margin: 2% 5%;
}

#main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e07b39;
    margin: 5%;
    flex-grow: 100;
}

#answer-space {
    height: 20%;
}

section p {
    text-align: center;
}

#buttons-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#i-know-this {
    margin: 5px;
    padding: 10px 30px;
}

#next-question-btn {
    margin: 5px;
    padding: 10px 30px;
}

#show-answer-btn {
    margin: 5px;
    padding: 10px 30px;
}



.reset-space {
    margin: 5px;
    padding: 10px 30px;
}

#categories {
    grid-area: categories;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #44bcd8;
}

#question {
    margin: 10px;
}

#hidden {
    display: none;
}

#more-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#known-counter {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #e07b39;
    grid-area: stats;
}

#know-list-link {
    display: grid;
    grid-area: link;
}

.reset {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(255, 157, 0);
}

#reset-header {
    background-color: rgb(218, 75, 142);
}

.reset button {
    background-color: rgb(104, 104, 130);
}