body{
    display: grid;
    background-color: rgb(248, 247, 238);
    grid-template-columns: 1fr;
    justify-items: center;
    
    
}
 section{
    
    display: grid;
    background-color: rgb(226, 222, 164);
    grid-template-columns: 1fr;
    justify-items: center;
   

}

main{
    color: rgb(31, 32, 32);
    text-align: center;
    width: 80%;
    
}

section p{
    text-align: center;
}

#buttons-div{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
#show-answer-btn{
    margin-right: 5px ;
    padding: 10px 30px;
    flex-grow: 50;
}
#next-question-btn{
    margin-left: 5px;
    padding: 10px 30px;
    flex-grow: 50;
}

#catagories {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
}
